html, body {
	height: 100%;
}

.sky {
	height: 75%;
	position: relative;
	text-align: center;
}

.earth {
	height: 25%;
	background-color: black;
}

.bird {
	position: absolute;
}


.penguin {
	position: absolute;
	bottom: 0;
}

.flock {
	position: absolute;
	height: 50px;
	display: inline-block;
}




#moon {
	position: absolute;
}


